<%= nested_form_for @design do |f| %>
  <%= f.error_messages %>
       <%= f.label :name %>
       <%= f.text_field :name %><br />
       <%= f.label :description %>
       <%= f.text_field :description %><br />
    <% unless @design.name.blank? %>
    	<label>Design Filename</label>
    	     <div style="padding-top: 9px;"><%= @design.view_path.gsub(/^#{::Newsletter.designs_path}/,'') %></div><br />
  	<% end %>
       <%= f.label :stylesheet_text %>
            <%= f.text_area :stylesheet_text %><br />
       <%= f.label :html_text %>
            <%= f.text_area :html_text %><br />
      <div class='newsletter_parts_group'>
         <h2 style='padding-bottom: 0; margin-bottom: 0; font-size: 10pt; '>Areas</h2>
         The HTML code field above should contain &lt;%= render [your_area_name] %&gt; for each area you create.<br/>
         <div id="areas">
            <%= f.fields_for :areas %>
         </div>
      	<%= f.link_to_add('Add Area', :areas, {class: 'button'}) %>
      </div>
      <div class="submit_button"><%= f.submit "Submit", :class => 'button' %></div>
    
<% end %>
