<%= title "Elements" %>

<table class="list" cellpadding="1" cellspacing="0">
  <tr class="title">
    <td>Name</td>
    <td>Description</td>
  <% if::Newsletter.use_show_for_resources %>
    <td colspan="3"> </td>
  <% else %>
    <td colspan="2"> </td>    
  <% end %>
  </tr>
  <% for element in @elements %>
    <tr class="<%= cycle('odd','even') %>" id="element_<%= element.id %>">
      <td><%=h element.name %></td>
      <td><%=h element.description %></td>
    <% if::Newsletter.use_show_for_resources %>
      <td><%= link_to "View", element, :class => 'button' %></td>
    <% end %>
      <td><%= link_to "Edit", edit_element_path(element), :class => 'button' %></td>
      <td><%= link_to "Delete", element, :confirm => 'Are you sure?', :method => :delete, :class => 'button' %></td>
    </tr>
  <% end %>
</table>


<%= content_for :page_navigation do %>
<div>
  <%= link_to "Back to Design", edit_design_path(@design), :class => 'button' %>
  <%= link_to "New Newsletter Element", new_design_element_path(@design), :class => 'button' %>
</div>
<% end %>
